<button [routerLink]="['/workspace']">test</button>
<button [routerLink]="['/workspace/a']">test</button>

<mat-tab-group>
    <mat-tab label="Tab 1" [routerLink]="['/workspace/a']"></mat-tab>
    <mat-tab label="Tab 2" routerLink="/workspace"></mat-tab>
    <mat-tab label="Tab 2"></mat-tab>
    <mat-tab label="Tab 2"></mat-tab>
    <mat-tab label="Tab 2"></mat-tab>
    <mat-tab label="Tab 2"></mat-tab>
    <mat-tab label="Tab 2"></mat-tab>
    <mat-tab label="Tab 2"></mat-tab>
</mat-tab-group>

<div [@animRoutes]="getPage(appOutlet)">
    <router-outlet #appOutlet="outlet"></router-outlet>
</div>

