$bg-color: #ff0;
$nav-height: 30px;

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

app-tab-bar {
    flex: 0 0 $nav-height;
}

.router-container {
    background-color: $bg-color;
    height: calc(100vh - #{$nav-height});
}
