<div class="stack">
    <div [ngSwitch]="node.Direction" class="element-wrapper">
        <div *ngSwitchCase="0" class="element left-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M0,50 L50,50" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
        <div *ngSwitchCase="1" class="element right-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M50,50 L100,50" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
        <div *ngSwitchCase="2" class="element bottom-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M50,50 L50,100" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
    </div>
    <div [ngSwitch]="node.NextDirection" class="element-wrapper">
        <div *ngSwitchCase="0" class="element left-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M0,50 L50,50" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
        <div *ngSwitchCase="1" class="element right-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M50,50 L100,50" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
        <div *ngSwitchCase="2" class="element bottom-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M50,50 L50,100" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
        <div *ngSwitchCase="3" class="element up-element">
            <svg preserveAspectRatio="none" viewBox="0 0 100 100">
                <path d="M50,0 L50,50" style="stroke:#660000; fill:none;" stroke-width="20"/>
            </svg>
        </div>
    </div>

    <div class="circle-wrapper">
        <div class="circle">

        </div>
    </div>
</div>
