:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container {
    max-height: 500px;
    min-width: 300px;
}

.header {
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    min-height: 64px;
    padding: 8px 24px 0;
    padding-left: 24px;
}

app-graph {
    width: 10%;
}

app-table {
    width: 90%;
}
