:host {
    display: block;
    height: 100%;
}

.workspace-container {
    height: 100%;
}

.overview-container {
    max-height: 80vh;
}

// .commit-view-container {
// }

.main-container {
    height: 100%;
}
