:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.workspace-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    app-branch-view {
        flex: 0 0 250px;
    }

    app-overview {
        flex: 1 1 auto;
    }

    app-commit-view {
        flex: 0 0 300px;
    }
}

app-tool-bar {
    flex: 0 0 100px;
}
