<div class="main-container" fxLayout="column">
    <app-tool-bar></app-tool-bar>

    <div class="workspace-container" fxLayout="row" fxFlex="1 1 auto">
        <div class="branch-view-container" fxFlex="0 0 250px">
            <app-branch-view></app-branch-view>
        </div>

        <div class="overview-container" fxFlex="1 1 auto">
            <app-overview></app-overview>
            <h1>
                Title
            </h1>

            <button mat-raised-button color="primary">TOGGLE DARK THEME</button>
            <button mat-raised-button color="primary">PRIMARY</button>
            <button mat-raised-button color="accent">ACCENT</button>
            <button mat-raised-button color="warn">WARN</button>
        </div>

        <div class="commit-view-container" fxFlex="0 1 300px">
            <app-commit-view></app-commit-view>
        </div>
    </div>

    <app-footer></app-footer>
</div>
