$branch-view-color: #f00;

:host {
    display: block;
    height: 100%;
}

.branch-view-container {
    background-color: $branch-view-color;
}

.workspace-container {
    height: 100%;
}

// .overview-container {
// }

// .commit-view-container {
// }

.main-container {
    height: 100%;
}
