@import 'colors';

@import '~angular-tree-component/dist/angular-tree-component.css';

$temp-color: #fff;

h1 {
    color: $temp-color;
    //font-family: courier;
    font-size: 3em;
}

body {
    margin: 0;
}

// sass-lint:disable-all
// https://github.com/electron/electron/issues/2538
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input,
button,
textarea,
:focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}
// sass-lint:enable-all
