<mat-accordion multi="true">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Personal data
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Age">
        </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Branches
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let referenceData of references$ | async">{{referenceData.reference}}</p>
    </mat-expansion-panel>
</mat-accordion>
