<div class="main-container">
    <app-tool-bar></app-tool-bar>

    <div class="workspace-container">
        <div class="branch-view-container">
            sdfds
            <app-branch-view></app-branch-view>
        </div>

        <div class="overview-container">
            <app-overview></app-overview>
            <h1>
                Title
            </h1>

            <button mat-raised-button color="primary">TOGGLE DARK THEME</button>
            <button mat-raised-button color="primary">PRIMARY</button>
            <button mat-raised-button color="accent">ACCENT</button>
            <button mat-raised-button color="warn">WARN</button>
        </div>

        <div class="commit-view-container">
            <app-commit-view></app-commit-view>
        </div>
    </div>

    <app-footer></app-footer>
</div>
