<app-tool-bar></app-tool-bar>
<app-branch-view></app-branch-view>
<app-tree-view></app-tree-view>
<app-commit-view></app-commit-view>

<h1>
    <span class="octicon octicon-clippy"></span> Title
</h1>
<md-slide-toggle>Slide Toggle</md-slide-toggle>

<button md-raised-button color="primary">TOGGLE DARK THEME</button>
<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>
<router-outlet></router-outlet>