$shadow-color: #000;

:host {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 -10px 10px -10px $shadow-color;
    cursor: default;
    display: inline-block;
    height: 30px;
    max-width: 300px;
    position: relative;
    width: 300px;
}

.close {
    position: absolute;
    right: 5px;
    top: 3px;
}
