<div fxLayout="column">
    {{statuses$ | async | json}}
    <app-file-select></app-file-select>
    <app-file-select></app-file-select>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <h3 mat-line> asdf </h3>
        </mat-list-item>
    </mat-list>

    <mat-input-container>
        <textarea class="commit-message" matInput rows="4" cols="50" placeholder="Commit Message"></textarea>
    </mat-input-container>

    <button mat-raised-button color="primary">Commit</button>
</div>
