<div class="stack" *ngFor="let node of nodeStack.Nodes">
    <div [ngSwitch]="node.Type">
        <div *ngSwitchCase="1">
            <app-vertical></app-vertical>
        </div>
        <div *ngSwitchCase="2">
            <app-horizontal></app-horizontal>
        </div>
        <div *ngSwitchCase="3">
            o
        </div>
        <div *ngSwitchCase="4">
            <app-bottom-right></app-bottom-right>
        </div>
        <div *ngSwitchCase="5">
            ╗
        </div>
        <div *ngSwitchCase="6">
            <app-top-right></app-top-right>
        </div>
        <div *ngSwitchCase="7">
            <app-top-left></app-top-left>
        </div>
    </div>
</div>

<!-- NONE, VERTICAL, HORIZONTAL, NODE -->
