<svg height="10000" width="1000" *ngIf="(rendered$ | async); let renderered">
    <ng-container *ngFor="let path of renderered.FullPaths">
        <ng-container *ngFor="let commit of path; let i = index">
            <svg:path *ngIf="path[i + 1]" [attr.d]="getD(commit.laneNumber, commit.rowNumber, path, i)" class="line" shape-rendering="optimizeSpeed" />
        </ng-container>
    </ng-container>

    <ng-container *ngFor="let path of renderered.FullPaths">
        <ng-container *ngFor="let commit of path; let i = index">
            <svg:circle
                *ngIf="commit?.type === 'NODE'"
                [attr.cx]="30 * commit.laneNumber + 10 + 2"
                [attr.cy]="30 * commit.rowNumber + 10 + 2"
                r="10"
                stroke="black"
                stroke-width="2"
                fill="red"
                class="node"
            />
        </ng-container>
    </ng-container>
</svg>
