<button (click)="push()">
    <i class="fal fa-cloud-upload fa-fw fa-lg"></i>
    <span>Push</span>
</button>

<button>
    <i class="fal fa-cloud-download fa-fw fa-lg"></i>
    <span>Pull</span>
</button>

<button (click)="createBranch()">
    <i class="fal fa-code-branch fa-fw fa-lg"></i>
    <span>Branch</span>
</button>

<button (click)="stash()">
    <i class="fal fa-box-full fa-fw fa-lg"></i>
    <span>Stash</span>
</button>

<button (click)="pop()">
    <i class="fal fa-box-open fa-fw fa-lg"></i>
    <span>Pop</span>
</button>

<button>
    <i class="fal fa-tag fa-fw fa-lg"></i>
    <span>Tag</span>
</button>

<button routerLink="/workspace/settings">
    <i class="fal fa-cog fa-fw fa-lg"></i>
</button>
